body {
  font-family: "Open Sans", sans-serif;
}

.transparent-box {
  margin: 20px auto;
  padding: 30px;
  opacity: 0.8;
  border: 2px solid white;
  max-width: 700px;
  border-radius: 10px;
  background-color: rgba(96, 125, 139, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
}

 

.container {
  margin: 20px auto;
  max-width: 700px;
}
